img {
    width: 300px;
    height: 300px;
    pointer-events: none;
    background-color: transparent;
}

.leftButton,
.rightButton {
    outline: none;
    background: linear-gradient(white 10%, #F09000 90%);
}