
form{
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}
.submit{
    width: 20vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 10vh;
    outline: 0;
    font-size: 2rem;
    font-family: 'Gloria Hallelujah', cursive;
    margin-top: 3rem;
    background-color:#D87800;
    color: white;
}
.input{
    width: 50vw;
    height: 12vh;
    font-size: 13vh;
    outline: 0;
    font-family: 'Gloria Hallelujah', cursive;
    background: transparent;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: black;
    margin-bottom: 2rem;
    margin: 0 auto;
}
.inputDiv{
    margin: 0 auto;
    padding: 0;
}

.name-header {
font-family: 'Gloria Hallelujah', cursive;
display: flex;
justify-content: center;
font-size: 3rem;
margin: 0;
padding-bottom: 1rem;
}
.wrapper{
    position: relative;
}
.color-select{
    width: 50%;
    height: 5rem;
    padding: 0;
    margin: 0 auto 3rem;
    outline: 0;
}
.center{
    margin: 0 auto 1rem;
    font-family: 'Gloria Hallelujah', cursive;

}

@media only screen and (max-width: 1000px) {
 .name-header{
     font-size: 4rem;
 }
 .input{
     width: 90%;
     font-size: 10vh;
     padding-bottom: 3vh
 }
 .submit{
     width: 700px;
     margin-top: 10rem;
 }
.root{
    height: 2150px;
}
}


