@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

/* This document holds the CSS for the INSTRUCTIONS page */

.header{
    display: flex;
    justify-content: center;
    font-size: 6rem;
    padding-top: 4rem;
    font-family: 'Press Start 2P', cursive;
    flex-wrap: nowrap;
    color: black;
}


.back-instruction-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.instructions{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-family: 'Gloria Hallelujah', cursive;
    margin: 0 auto;
    width: 80%
}
li{
    padding-bottom: 1rem
}

.instructions-back{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-family: 'Gloria Hallelujah', cursive;
    margin: 0 auto;
    max-height: 3rem;
    width: 15%;
    color: white;
    background: #D87800;
    outline: 0;
    box-shadow: 7px 5px 3px rgba(0, 0, 0, 0.678);
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
 .instructions{
     font-size: 2rem;
 }
}