@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
.groot{
    color: black;
    padding-top: 2rem;
    padding-bottom: 20rem;
    padding-left: 5px;
    height: 5vh;
    font-size: 10px;
    font-family: 'Press Start 2P', cursive;
}
