@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

.flex-container {
  display: flex;
  height: 100%;
}
canvas {
  border-style: hidden solid hidden solid;
  border-width: 1px;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-around;
  padding: 0;
  padding-left: .5rem;
  flex-wrap: wrap;
  color: white;
  font-family: "Gloria Hallelujah", cursive;
}
.score {
  width: 100%;
  background-image: url("../../../pictures/darkBrickWall.jpg")
 
}
.heart-image {
  height: 1.5rem;
  width: 1.5rem;
}
