.flex-container {
  display: flex;
  height: 100%;
  background: gray;
}
canvas {
  border-style: hidden solid hidden solid;
  border-width: 1px;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-around;
  padding: 0;
  flex-wrap: wrap;
}
.score {
  width: 100%;
}
.heart-image {
  height: 1.5rem;
  width: 1.5rem;
}
